<?xml version="1.0"?>
<model>
  <name>Cylindrical Tunnel</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Prem Ranjan Singh</name>
    <email>work.premranjan@gmail.com</email>
  </author>
  <description>
    A cylindrical tunnel for drone navigation in Gazebo.
  </description>
</model>
